body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lobster', cursive;
}

body h1,
h3 {
    text-align: center;
}

.main-container {
    position: relative;
    justify-content: center;
    display: flex;
    justify-self: center;
    width: 550px;
    height: 400px;
}

.main-container img {
    position: absolute;
    width: 550px;
    height: 400px;
    left: 40px;
}

.slots {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 79px;
    height: 113px;
    top: 200px;
    background-color: white;
}

.slots p {
    color: rgb(245, 61, 59);
    font-weight: 1000;
    font-size: 70px;
    margin: 0px;
    padding: 0px;
    font-family: 'Lobster', cursive;
}

#slot-1 {
    left: 138px;
}

#slot-2 {

    left: 237px;
}

#slot-3 {
    left: 336px;
}

.operations-container {
    position: relative;
    width: 600px;
    height: 150px;
    margin: 0px;
    padding: 0px;
    justify-self: center;
    justify-content: center;
    display: flex;
    margin-bottom: 40px;
}

.operations-container img {
    margin: 0px;
    padding: 0px;
    width: 600px;
    height: 150px;
}

.operations-container button {
    position: absolute;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    top: 36px;
    left: 35px;
    color: rgb(245, 61, 59);
    border: 3px solid black;
    background-color: white;
    cursor: pointer;
}

.operations-container>button>p {
    font-family: 'Lobster', cursive;
    font-size: 20px;
    animation: spin 2s linear infinite;
}

.operations-container button:active {
    background-color: #e74c3c;
    /* Change the color to your desired temporary color */
    color: white;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.operations-container #win-state, #balance {
    position: absolute;
    font-family: 'Lobster', cursive;
    color: rgb(245, 61, 59);
    font-size: 30px;
    padding: 0px;
    margin: 0px;
}

.operations-container > #win-state {
    top: 57px;
    left: 196px;
}

.operations-container > #balance {
    top: 57px;
    left: 370px;

}